/* GLOBAL*/
body {
	background: url("../img/ng.png");
}

/* LAYOUT */

.container {
background: red;
margin: 0 auto;
width: 90%;
}

article section {
	width: 46%;
	float: left;
	padding: 2%;
}


/* ADAPTIVE CONTENT */

iframe, img {
	max-width: 100%;
	width: 100%;
}

/* Desktop query */
@media (min-width: 960px) {
	#home {
		width: 300px;
	}

	
	#youtube-big {
		display: none;
	}
	#youtube-med {
		display: block;
}
	iframe {
		width: 420px;
	}
}

/* Tablet query */
@media (min-width: 4768px) {

	#youtube-big {
		display: block;
	}
	#youtube-med {
		display: none;


	}

	/* MOBILE query */
@media (min-width: 480px) {
	article section {
		float: none;
		width: 100%;
	}

	}
}

